{% extends 'VenissieuxInventaireSDBFrontBundle::layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}


    {{ form_errors(form) }}

    <div id="divFormulaire" class="formulaireType1">

        <div>
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_label(form.commentaire) }}
            {{ form_widget(form.commentaire) }}
        </div>
        <div class="error">
            {{ form_errors(form.prenom) }}
            {{ form_errors(form.nom) }}
            {{ form_errors(form.commentaire) }}
        </div>

    </div>
    <div id ="divProjets">
        <a class="lienRetour" href="{{ path('venissieux_inventaire_SDB_front_usager_lister') }}">Retour</a> &nbsp&nbsp {{ form_widget(form.valider) }}
    </div>

    {{ form_end(form) }}

    <table id="listePretsUsager">
        <thead>
            <tr>
                <th>Id</th>
                <th>Article</th>
                <th>Date de prêt</th>
                <th>Date de retour</th>
            </tr>
        </thead>
        <tbody>
            {% for p in usager.prets %}
                <tr>
                    <td>{{ p.article.id }}</td>
                    <td>{{ p.article.nom }}</td>
                    <td>{{ p.datePret |date('Y-m-d') }}</td>
                    <td>{{ p.dateRetour? p.dateRetour |date('Y-m-d') }}</td> 
                </tr>
            {% else %}
                <tr><td colspan="4">Aucun prêt n'a été trouvé</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
