{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/venissieuxinventaireSDBfront/stylesheets/intranet.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/venissieuxinventaireSDBfront/stylesheets/jquery.dataTables.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/venissieuxinventaireSDBfront/images/favicon.png') }}" type="image/png" rel="icon" />

{% endblock %}


{% block javascript_head %}
    <script src="{{ asset('bundles/venissieuxinventaireSDBfront/javascript/jquery-3.1.0.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('bundles/venissieuxinventaireSDBfront/javascript/jquery.dataTables.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('bundles/venissieuxinventaireSDBfront/javascript/intranet.js') }}" charset="utf-8"></script>
{% endblock %}

 {% block body %}
     
    <div id="page">
           <div id="connexion">
               {% if is_granted('IS_AUTHENTICATED_FULLY') %}<p>Utilisateur connecté : {{ app.user.username }} &nbsp;&nbsp;&nbsp; <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></p>{% endif %}
            </div>  
           <div id="header">
                   <img src="{{ asset('bundles/venissieuxinventaireSDBfront/images/header.png') }}" alt="Intranet de la ville de Vénissieux" />
           </div>
           <div id="menu">
               {% include 'VenissieuxInventaireSDBFrontBundle::menu.html.twig' %}
           </div>
           <div id="content">
               {% block content %}{% endblock %}
           </div>
           <div id="footer">
                   InventaireSDB v1.1 - Ville de Vénissieux - Direction des systèmes d'information - 2017
           </div>
    </div>
 {% endblock %}
