{% extends 'VenissieuxInventaireSDBFrontBundle::layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    {{ form_errors(form) }}


    <div class='ligneFormulaireType3'>    

    </div>
    <br/>
    <table id="listeResultatsArticlesPrets">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Etat</th>
                <th>Commentaire</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {# Géré par Ajax depuis le composant datatables #}
        </tbody>
    </table>

    <div id="divRechercheCriteres">
        <div>
            {{ form_label(form.dateOperation) }}
            {{ form_widget(form.dateOperation) }}
        </div>
        <div>
            {{ form_label(form.usager) }}
            {{ form_widget(form.usager, {'attr': {'onChange':'this.form.submit();'}}) }}
        </div>
    </div>


    {# Champ caché permettant de stocker les id des articles sélectionnés dans la liste listeResultatsArticlesEmprunts#}    
    <input type="hidden" name="hidListeResultatsArticlesEmprunts" id="hidListeResultatsArticlesEmprunts">

    {# Champ caché permettant de stocker les id des articles initiaux de la liste listeResultatsArticlesEmprunts#}    
    <input type="hidden" name="hidListeResultatsArticlesInitiaux" id="hidListeResultatsArticlesInitiaux">

    <table id="listeResultatsArticlesEmprunts">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Etat</th>
                <th>Commentaire</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in prets %}
                <tr>
                    <td>{{ p.article.id }}</td>
                    <td>{{ p.article.nom }}</td>
                    <td>{{ p.article.categorie ? p.article.categorie.libelle }}</td>
                    <td>{{ p.article.etat ? p.article.etat.libelle }}</td>
                    <td>{{ p.article.commentaire }}</td>
                    <td class="nowrap">
                        <a href="javascript:">
                            <img src="{{ asset('bundles/venissieuxinventaireSDBfront/images/glyphicons-210-cart-out.png') }}" class="TransferArticle" alt="Retourner" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="error">
        {{ form_errors(form.dateOperation) }}
    </div>
    <div id ="divRechercheBoutons">
        {{ form_row(form.valider) }}
    </div>

    {{ form_end(form) }}



{% endblock %}

