{% extends 'VenissieuxInventaireSDBFrontBundle::layout.html.twig' %}

{% block content %}

    {% if app.request.attributes.get('_route') == 'venissieux_inventaire_SDB_front_article_editer' %}
        <div id ="nouvelItem">
            <a href="{{ path('venissieux_inventaire_SDB_front_article_ajouter') }}">
                Ajouter un nouvel article&nbsp;
                <img src="{{ asset('bundles/venissieuxinventaireSDBfront/images/glyphicons-433-plus.png') }}" alt="Ajouter" />
            </a>
        </div>
    {% endif %}

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div id="divFormulaire" class="formulaireType1">

        <div>
            {{ form_label(form.id) }}
            {{ form_widget(form.id) }}
        </div>

        <div>
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>

        <div>
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie) }}
        </div>

        <div>
            {{ form_label(form.dateAchat) }}
            {{ form_widget(form.dateAchat ,{'attr': {'class': 'dateSelect'}}) }}
        </div>

        <div>
            {{ form_label(form.prixAchat) }}
            {{ form_widget(form.prixAchat) }}
        </div>

        <div>
            {{ form_label(form.fournisseur) }}
            {{ form_widget(form.fournisseur) }}
        </div>

        <div>
            {{ form_label(form.etat) }}
            {{ form_widget(form.etat) }}
        </div>

        <div>
            {{ form_label(form.commentaire) }}
            {{ form_widget(form.commentaire) }}
        </div>

        <div class="error">
            {{ form_errors(form.nom) }}
            {{ form_errors(form.categorie) }}
            {{ form_errors(form.dateAchat) }}
            {{ form_errors(form.prixAchat) }}
            {{ form_errors(form.fournisseur) }}
            {{ form_errors(form.etat) }}
            {{ form_errors(form.commentaire) }}
        </div>

    </div>

    <div id ="divProjets">
        <a class="lienRetour" href="{{ path('venissieux_inventaire_SDB_front_article_lister') }}">Retour</a> &nbsp&nbsp {{ form_widget(form.valider) }}
    </div>

    {{ form_end(form) }}


    <table id="listePretsArticle">
        <thead>
            <tr>
                <th>Usager</th>
                <th>Date de prêt</th>
                <th>Date de retour</th>
            </tr>
        </thead>
        <tbody>
            {% for p in article.prets %}
                <tr>
                    <td>{{ p.usager.nomComplet }}</td>
                    <td>{{ p.datePret |date('Y-m-d') }}</td>
                    <td>{{ p.dateRetour? p.dateRetour |date('Y-m-d') }}</td> 
                </tr>
            {% else %}
                <tr><td colspan="3">Aucun prêt n'a été trouvé</td></tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
