{% extends 'VenissieuxInventaireSDBFrontBundle::layout.html.twig' %}

{% block content %}
    
     {{ form_start(form) }}

    {{ form_errors(form) }}

    <div id="divFormulaire" class="formulaireType1">
        <div>
            {{ form_label(form.disponible) }}
            {{ form_widget(form.disponible) }}
        </div>
         <div>
            {{ form_label(form.usager) }}
            {{ form_widget(form.usager) }}
        </div>
         <div>
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie) }}
        </div>
    </div>
    <div id ="divProjets">
        {{ form_widget(form.editer) }}
    </div>

    {{ form_end(form) }}
    


{% endblock %}
