<style>

    .encadre
    {
        border: 0px solid black;
        page-break-inside:avoid;
    }

    .nonbreakable
    {
        page-break-before:always;
    }

    body {
        font-family:Lucida Grande, Arial, Helvetica, Verdana, sans-serif;
        font-size:9px;
        color:#006E99;
    }
    
    hr.style-one 
    { 
        border: 0; 
        height: 1px; 
        background: #333; 
        background-image: linear-gradient(to right, #ccc, #333, #ccc); 
    }

    h1
    {
        text-align: center;
        font-size: 15px;
    }

    h3
    {
        font-size: 11px;
        text-align: left;
        font-weight: bold;
    }

    hr{
        color:#006E99;
        height: 1px;
        background-color:#006E99;
    }

    label{
        font-weight: bold;
    }

    .listeItem
    {
        border: 15px solid #006E99;
        width: 400px;
    }

    th
    {
        text-align: center;
        background-color: #006E99;
        color : #FFFFFF;
        font-weight: bold;
        font-size: 10px;
    }

    td
    {
        vertical-align: middle;
        text-align: left;
        color :  #006E99;
    }
    #ID
    {
        text-align: center;
    }


</style>
<body>
    <h1>Liste des articles</h1>
    <hr/>
    <table>
        <tr>
            <th width="50px">ID</th>
            <th width="140px">Nom</th>
            <th width="70px">Categorie</th>
            <th width="50px">Année d'achat</th>
            <th width="70px">Statut</th>
            <th width="70px">Etat</th>
            <th width="307px">Commentaire</th>
        </tr>
        {% for ar in articles %}
            <hr/>
            <tr>
                <td width="50px" align="center">{{ ar.id }}</td>
                <td width="140px">{{ ar.nom }}</td>
                <td width="70px">{{ ar.categorie ? ar.categorie.libelle }}</td>
                <td width="50px" align="center">{{ ar.dateAchat|date('Y')  }}</td>
                <td width="70px" align="center">{{ ar.statut }}</td>
                <td width="70px" align="center">{{ ar.etat ? ar.etat.libelle }}</td>
                <td width="307px">{{ ar.commentaire }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if usager is not null %}
        <div id="commentaire">
            <h3>commentaire :</h3>
            {{ usager.commentaire | nl2br }}
        <div/>
    {% endif %}
</body>

